<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>Hello {{name}}

<form action="/create-message" method="post">
    <input type="text" placeholder="new message" name="messageboard" />
    <button type="submit">Submit</button>
</form>
<>
{{#messages}}
<li>{{comments}}</li>
{{/messages}}
</ol>



<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/delete" method="post">
    <input type="number" placeholder="delete number" name="Delete" />
    <button type="submit">Delete</button>
</form>

<form action="/edit-message" method="put">
    <input type="number" placeholder="edit number" name="Edit" />
    <input type="text" placeholder="new message" name="messageboard" />
    <button type="submit">Edit</button>
</form>



</body>
</html>